body {
    width:100%;
    min-width:1000px;
    height:auto;
    margin: 0;
    padding: 0;
}

ul {
    display: inline;
    list-style: none;
    margin-left: 800px;
    padding-right: 80px;
    flex-wrap: wrap;
}

li {
    display: inline-flex;
    padding-right: 20px;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header {
    margin: 0;
    background-color: #570505ec;
    height: 600px;
    display: flex;
    flex: 1;
}

.logo,
.logo img {
    height: 90px;
    width: 100px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.headerlink {
    display: inline;
}


.headerimg img {
    height: 250px ;
    width: 400px;
}

.headertext {
    display: flex;
    text-align: center;
}
