body {
    width:100%;
    min-width:1000px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #570505ec;
    border-bottom: 4px solid rgb(2, 2, 2);
    height: 600px;
    padding: 2px;
    gap: 16px
}

/* upper part of header */
.topheader {
    display: flex;
    flex-flow: row wrap;
    height: 100px; 
    width: auto;
}
ul  { 
    display: inline-flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 150px;
    margin-right: 40px;
}
li {
    flex-direction: row;
}
.logo {
    height: 90px;
    width: 100px;
    padding: 2px;
    flex: 1 0 auto;
}
.logo img {
    height: 90px;
    width: 100px;
    margin-left: 40px;
    padding: 2px;
    flex: 1 0 auto;
}
/* upper part of header */
/* lower part of header */
.bottomheader {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    width: auto;
    justify-content: center;
}
.headertext {
    color: #e5e7eb;
    padding-top: 100px;
    padding-left: 40px;
    margin: 2px;
    text-align: left;
    block-size: 200px;
    font-size: 48px;
    font-weight: bolder
}
.headertext p {
    font-size: 18px;
    font-weight:lighter;
    line-height: 10%;
    color: #e5e7eb;
}
.headerimg img {
    height: 200px ;
    width: 300px;
    padding-top: 100px;
    display: inline;
}
/* lower part of header */